        <section class="detailsPage">
            <div class="detailsPage__poster">
                <img class="poster__img" src="https://image.tmdb.org/t/p/w500//{{poster_path}}" alt="{{title}}" />
            </div>
            <div class="detailsPage__content">
                <h2 class="content__title">{{title}}{{release_date}}</h2>
                <table class="detailsPage__table">
                    <tr class="table__row">
                        <td >vote</td>
                        <td>{{vote_average}}</td>
                    </tr>
                    <tr class="table__row">
                        <td>popularity</td>
                        <td>{{popularity}}</td>
                    </tr>
                    <tr class="table__row">
                        <td>original title</td>
                        <td>{{title}}</td>
                    </tr>
                    <tr class="table__row">
                        <td>genre</td>
                        <td>in progress</td>
                    </tr>
                </table>
            </div>
        </section>
